.login{
    height: 100%;
    display: flex;
    align-items: center;
    background: linear-gradient( 135deg, #005aa3, #54bbab 100%);
    justify-content: center;
}

.card{
    margin: auto;
    border-radius: 10px;
    width: 100%;
}

h1{
    text-align: center;
    margin: 30px 0 15px 0;
    font-weight: 550;
}

.form{
    display: grid;
    width: 100%;
}

.form img{
    width: 200px;
    margin: 30px auto 30px auto;
}

.card button{

    margin-bottom: 10px;
}